<head>
  <%= stylesheet_link_tag 'users_show' %>
</head>

<h1><%= @user.name %>さんのページ</h1>
      
<p>メールアドレス: <%= @user.email %></p>

<br>

<% if @user == current_user %>
  <%= link_to "プロフィールの編集", edit_user_path %>
<% end %>

<br>

<% if current_user.role == "executive" %>
  <h3>塾投稿一覧</h3>
<% else %>
  <h3>お気に入り一覧</h3>
<%end%>


<% if current_user.role == "executive" %>
  <%= paginate @schools %>
<% else %>  
  <%= paginate @favorite_schools %>
<% end %>  



<table class="custom-table">
  <thead>
    <tr>
      <th>塾名</th>
      <th>概要</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.role == "executive" %>
      <% @schools.each do |school| %>
            <tr>
              <td><%= school.name %></td>
              <td><%= school.overview %></td>
              <td><button type="button" class="btn-secondary"><%= link_to '編集', edit_school_path(school) %></button></td>
              <td><button type="button" class="btn-tertiary"><%= link_to '削除', school, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
            </tr>
      <% end %>
    <% else %>
      <% @favorite_schools.each do |school| %>
      <% favorite = current_user.favorites.find_by(school_id: school.id) %>
        <tr>
          <td><%= school.name %></td>
          <td><%= school.overview %></td>
          <td><button type="button" class="btn-secondary"><%= link_to '詳細', school_path(school.id) %></button></td>
          <% if favorite.present? %>
            <td><%= link_to 'お気に入り解除する', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-danger' %></td>
          <% else %>
            <td>お気に入り情報がありません</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>