<%= form_with(model: school) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
        <% school.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= stylesheet_link_tag 'schools_form' %>
  

    <%= form.label :塾名 %>
    <%= form.text_field :name, class: 'form-control'  %>

  <br>

    <%= form.label :県名 %>
    <%= form.text_field :prefecture, class: 'form-control' %>

  <br>

    <%= form.label :住所 %>
    <%= form.text_field :city, class: 'form-control' %>

  <br>

    <%= form.label :電話番号 %>
    <%= form.text_field :phone, class: 'form-control' %>

  <br>

    <%= form.label :概要 %>
    <%= form.text_area :overview, class: 'form-control' %>

  <br>

  <div class="field">
    <%= form.label :科目 %>
    <%= form.collection_check_boxes(:handling_subject_ids, Subject.all, :id, :name) do |cd| %>
      <%= cd.label { cd.check_box + cd.text } %>
    <% end %>
  </div>

  <br>

  <%= form.file_field :image %>


  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
