<head>
  <%= stylesheet_link_tag 'schools' %>
</head>

<h1>塾検索</h1>
<%= search_form_for @q, url: schools_path do |f| %>
  <%= f.label :name_cont, '塾名' %>
  <%= f.search_field :name_cont %>
  <%= f.label :prefecture_cont, '都道府県' %>
  <%= f.search_field :prefecture_cont %>
  <% Subject.all.each do |subject| %>
    <%= f.check_box :habdling_subjects_id_eq_any, { multiple: true, checked: subject[:checked], disabled: subject[:disabled], include_hidden: false }, subject[:id] %>
    <label><%= subject.name %></label>
  <% end %>
  <br>
  <%= f.submit '検索' %>
<% end %>


<%= link_to 'New School', new_school_path %>
<% if current_user %>
  <%= link_to 'マイページ', user_path(current_user) %>
<% end %>  

<h2>塾一覧</h2>

<table>
  <tbody>
    <div class="school-cards">
      <% @schools.each do |school| %>
        <div class="school-card">
            <p>
              <% if school.image.attached? %>
                  <%= image_tag school.image.variant(gravity: "Center", resize: "100x100!", crop: "100x100+0+0").processed %>
              <% end %>
            </p>
            <p><%= school.name %></p>
            <p><%= school.prefecture %></p>
            <p><%= school.city %></p>
            <p><%= school.phone %></p>
            <p><%= school.overview %></p>
            <p>
              <% school.handling_subjects.each do |subject| %>
                <%= subject.name %>
              <% end %>
            </p>
            <p><%= link_to 'Show', school %></p>
            <% if current_user && current_user == school.user %>
              <p><%= link_to 'Edit', edit_school_path(school)  %></p>
              <p><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end %>
        </div>  
      <% end %>
    </div>  
  </tbody>
</table>


