<head>
  <%= stylesheet_link_tag 'schools' %>
</head>

<h3>塾検索</h3>
<%= search_form_for @q, url: schools_path do |f| %>
  <%= f.label :name_cont, '塾名' %>
  <%= f.search_field :name_cont, placeholder: "○○塾" %>
  <%= f.label :prefecture_cont, '都道府県' %>
  <%= f.search_field :prefecture_cont, placeholder: "○○県" %>
  <div class="check_box">
    <%= f.label :subjects_id_eq_any, '履修科目' %>
    <%= f.collection_check_boxes :subjects_id_eq_any, Subject.all, :id, :name %>
  </div>
  <%= f.submit '検索' %>
<% end %>


<td><button type="button" class="btn-secondary"><%= link_to '塾の新規投稿', new_school_path %></button><td>
<% if current_user %>
  <td><button type="button" class="btn-secondary"><%= link_to 'マイページ', user_path(current_user) %></button><td>
<% end %>  

<h3>塾一覧</h3>

<%= paginate @schools, thema: 'twitter-bootstrap-4' %>

<table>
  <tbody>
    <div class="school-cards">
      <% @schools.each do |school| %>
        <div class="school-card">
            <p>
              <% if school.image.attached? %>
                  <%= image_tag school.image.variant(gravity: "Center", resize: "100x100!", crop: "100x100+0+0").processed %>
              <% end %>
            </p>
            <p><%= school.name %></p>
            <p><%= school.prefecture %></p>
            <p><%= school.city %></p>
            <p><%#= school.phone %></p>
            <p><%#= school.overview %></p>
            <p>
              <% school.subjects.each do |subject| %>
                <%= subject.name %>
              <% end %>
            </p>
            <p><%= link_to '詳細', school %></p>
            <%# if current_user && current_user == school.user %>
              <p><%#= link_to 'Edit', edit_school_path(school)  %></p>
              <p><%#= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <%# end %>
        </div>  
      <% end %>
    </div>  
  </tbody>
</table>



