<head>
  <%= stylesheet_link_tag 'schools_show' %>
</head>

<div class="contents">
  <div class="content">
    <p>
      <strong>塾名:</strong>
      <%= @school.name %>
    </p>

    <p>
      <strong>都道府県:</strong>
      <%= @school.prefecture %>
    </p>

    <p>
      <strong>住所:</strong>
      <%= @school.city %>
    </p>

    <p>
      <strong>電話番号:</strong>
      <%= @school.phone %>
    </p>

    <p>
      <strong>科目</strong>
        <% @school.subjects.each do |subject| %>
          <%= subject.name %>
        <% end %>
    </p>    

    <p>
      <strong>概要:</strong>
      <%= @school.overview %>
    </p>
    <br>
    <br>
    <p>
      <strong>画像:</strong>
      <br>
      <%= image_tag @school.image, size:'200x200' %>
    </p>
    
    <br>
    <br>

    <% if current_user.role == "general" %>
      <% unless @school.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'お気に入りする', favorites_path(school_id: @school.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>  
    
    <% if @school.user_id == current_user.id %>
      <%= link_to '編集', edit_school_path(@school) %> |
      <%= link_to '削除', @school, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>

    <%= link_to '戻る', schools_path %> 
  </div>  
</div>