

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @school.prefecture %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school.phone %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @school.overview %>
</p>

<p>
  <strong>Image:</strong>
  <%= @school.image %>
</p>

<p>
  <strong>Subject</strong>
    <% @school.handling_subjects.each do |subject| %>
      <%= subject.name %>
    <% end %>
</p>

<% unless @school.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(school_id: @school.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
